*
!.gitignore
!app.py
!CreateAndInsert.ipynb
!templates/login.html
!templates/register.html
!templates/tv.html
!templates/users.html
!static/styles/login.css
!static/styles/room-2559790_1280.jpg
!/*

