<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Users</title>
</head>
<body>
    <h1>Show dashboard</h1>
    <ul>
        <h2>Name: {{ user_data.Fname }}  {{ user_data.Lname }} </h2>
        {% for show in user_data.Shows_Watched %}
            <ul>
                <li>Show: {{ show.Name }}</li>
                <ul>
                    <li>Status: {{ show.Status }}</li>
                    <li>Episodes Watched: {{ show.Episodes }}</li>
                </ul>
                <!-- Add Watch Restart Remove Buttons button for each show -->
                <form action="{{ url_for('show_details', show_title=show.Name) }}" method="GET">
                    <button type="submit">Watch</button>
                </form>
                <br><br>
            </ul>
        {% endfor %}
    </ul>

     <!-- Shows available to watch -->
    
     
    <br>
    <div class="shows-available">
        <h2>Available Shows</h2>
        <!-- Search bar for shows -->
    <form action="{{ url_for('dashboard') }}" method="POST">
        <label for="search">Search Shows:</label>
        <input type="text" id="search" name="regex_pattern" placeholder="Search for shows to add:">
        <input type="submit" value="Search">
    </form>
        <ul>
            {% for show in available_shows %}
                <li>
                    {{ show.Title }}
                    <a href="{{ url_for('add_show', show_title=show.Title) }}">Add</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>