<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Users</title>
</head>
<body>

<div style="background-color: #ff0000; padding: 10px; position: fixed; top: 0; left: 0; right: 0; z-index: 1000; display: flex; justify-content: space-between; align-items: center;">
    <span style="font-weight: bold; font-size: large; color: black;">Dashboard</span>
    <div style="display: flex; align-items: center;">
        <img src="{{ url_for('static', filename='profileimages/' + user_data.Profile_image) }}" width="40" height="40" style="border-radius: 50%; margin-right: 10px;">
        <span>{{ user_data.Username }}</span><br><br>
        <a href="/edit_profile"><button>Edit Profile</button></a>
    </div>
</div>
<h1 style="padding-right: 5vw;">{{ user_data.Fname }}  {{ user_data.Lname }} </h2>
<ul>
    <h2>Show List</h2>
    {% for show in user_data.Shows_Watched %}
        <ul>
            <li>Show: {{ show.Name }}</li>
            <ul>
                <li>Status: {{ show.Status }}</li>
                <li>Episodes Watched: {{ show.Episodes }}</li>
            </ul>
            <!-- Add Watch Restart Remove Buttons button for each show -->
            <form action="{{ url_for('show_details', show_title=show.Name) }}" method="GET">
                <button type="submit">Watch</button>
            </form>
            <br><br>
        </ul>
    {% endfor %}
</ul>

<!-- Shows available to watch -->
<br>
<div class="shows-available">
    <h2>Available Shows</h2>
    <!-- Search bar for shows -->
    <form action="{{ url_for('dashboard') }}" method="POST">
        <label for="search">Search Shows:</label>
        <input type="text" id="search" name="regex_pattern" placeholder="Search for shows to add:">
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for show in available_shows %}
            <li>
                {{ show.Title }}
                <a href="{{ url_for('add_show', show_title=show.Title) }}">Add</a>
            </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
