<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Users</title>
</head>
<body>
    <h1>List of Users</h1>
    <ul>
        {% for user in users %}
            <li>Name: {{ user.Username }}</li>
            <ul>
                {% for show in user.Shows_Watched %}
                <li>Show: {{ show.Name }}</li>
                <ul>
                    <li>Status: {{ show.Status }}</li>
                    <ul>
                        <li>Status: {{ show.Episodes }}</li>
                    </ul>
                    {% endfor %}
                </ul>
            </ul>
        {% endfor %}
    </ul>
</body>
</html>